{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@router": "./src/router/v1",
          "@controller": "./src/router/v1/controller"
        }
      }
    ]
  ],
  "extensions": [".js", ".ts"]
}