{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@service": "./dist/service",
          "@lib": "./dist/lib",
          "@model": "./dist/model",
          "@router": "./dist/router/v1",
          "@controller": "./dist/router/v1/controller",
          "@middleware": "./dist/router/v1/middleware",
          "@auth": "./dist/router/v1/auth"
        }
      }
    ]
  ]
}