{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@config": "./dist/config",
          "@service": "./dist/service",
          "@lib": "./dist/lib",
          "@util": "./dist/util",
          "@model": "./dist/model",
          "@router": "./dist/router/v1",
          "@controller": "./dist/controller",
          "@middleware": "./dist/middleware",
          "@helper": "./dist/helper",
          "@db-config": "./dist/db-config",
          "@job": "./dist/job",
          "@components": "./dist/components"
        }
      }
    ]
  ]
}